<div class="card mx-auto" style="width: 18rem;">
    <img class="card-img-top" src={{photo}} alt="Card image cap" style="object-fit: fill">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p>Walking with a friend in the dark is better than walking alone in the light</p>
        <a href="#" class="btn btn-primary">Home</a>
    </div>
</div>